.App {
  text-align: center;
}

.App-header {
  max-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-title {
  font-size: 33rem;
  text-shadow: 0 0 43px #1f1f1f;
  margin-top: 0;
  margin-bottom: 0;
}
