.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-title {
  font-size: 38rem;
  text-shadow: 0 0 43px #a5b3a5;
  margin-top: 0;
  margin-bottom: 0;
}
