html,
body {
  height: 100%;
}

/* https://www.gradient-animator.com/ */
body {
  margin: 0;
  width: 100%;
  font-family: "Exo", sans-serif;
  background: linear-gradient(270deg, #246655, #22bf97, #33d7ad);
  background-size: 600% 600%;
  animation: gradientAnimation 30s ease infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
